@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Konnect VR</h1>
    <hr />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>   This web application will allow instructors to create an account and generate</p> 
    <p>a key for their students to input alongside their name when they complete a KVR experience</p>
    <p>on test mode. When a professor has logged in, they will be able to access student metrics.</p>
    <p>     Use the navigation bar at the top of the screen to access the login page.</p>

</div>
