@{
    ViewData["Title"] = "Home Page";
}
<head>
<style>
    .centered-image {
        max-width: 100%;
        height: auto;
    }

    .intro-paragraph {
        text-align: center;
        margin: 20px 0;
    }

    .create-account-button {
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        width: 200px;
        text-decoration: none;
        display: inline-block;
    }

        .create-account-button:hover {
            background-color: #45a049;
        }
</style>
</head>
<body>
    <img class="centered-image" src="https://png.pngtree.com/png-clipart/20230211/original/pngtree-vr-game-male-shouting-happy-png-image_8952597.png" alt="Introduction Image" />

    <p class="intro-paragraph">
        Virtual Reality (VR) is an immersive technology that transports users to virtual worlds, providing a unique and interactive experience.
    </p>

    <a href="/Home/Login" class="create-account-button">Create Account to Get Started</a>
</body>