@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>This page will provide a means for instructors to login to their account.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />